/* Global */
.form-group{
	margin: 1em auto;
}

.listing-card-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .5em 1em;
}

.listing-card-header button{
	font-weight: 300;
}

.property-category-subtext{
	display: block;
	font-weight: 200;
	font-size: .6em;
}

.default-btn{
	background-color: white;
	color: #000;
	border: 1px solid #939393;
	border-radius: .5em;
}

.default-btn:hover{
	background-color: white;
	color: #000;
	border: 1px solid #939393;
	border-radius: .5em;
}

/* Property detail */
.property-detail-widgets{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 0;
}

.property-detail-widget{
	border: 1px solid #eee;
	padding: 1em;
	border-radius: .5em;
	margin: auto .5em;
	box-shadow: 5px 5px #eee;
}

.blue-widget{
	background-color: blue;
	color: #fff;
	line-height: 1;
	border: 1px solid #3c3cf0;;
	font-size: .8em;
}

.widget-data{
	font-size: 2em;
}

.units-card{
	border: 1px solid #eee;
	border-radius: .5em;
	padding: 1em 0;
}

/* Property config */
.config-card{
	min-height: 30em;
}

@media (max-width: 768px){
	.table{
		font-size: .8em;
	}

	.property-detail-widget{
		margin: .5em auto;
	}

	.property-detail-widget h5{
		font-size: medium;
	}

	.listing-card-header {
		display: flex;
		flex-direction: column;
	}

	.card-header-btns{
		display: flex;
	}

	.listing-card-header button{
		font-size: .8em;
		margin: auto 1em;
	}
}