{% extends "base.html"%}
{% block title %}Property Type{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="listing-card-header">
					<h5>Property Types</h5>
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addPropertyTypeModal">
						<i class="bi bi-plus"></i> Add Property Type
					</button>
				</div>
				<div class="card-body">
					<table class="table table-sm">
						<thead>
							<th>#</th>
							<th>Name</th>
							<th>Category</th>
							<th>Date created</th>
							<th>Status</th>
							<th>Action</th>
						</thead>
						<tbody id="dataRow"></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="addPropertyTypeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Propert Type Detail</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
		<form id="addPropertyTypeForm" method="POST">{% csrf_token %}
			<input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
			<div class="form-group">
				<label>Name</label>
				<input type="text" class="form-control" id="propertyTypeName">
			</div>
			<div class="form-group">
				<label>Category</label>
				<select class="form-control" id="propertyCategory">
					<option value="" selected disabled>--Pick category--</option>
					{% for property_category in property_categories %}
					<option value="{{property_category.pk}}">{{property_category.name}}</option>
					{% empty %}
					<option value="" disabled>No options to pick</option>
					{% endfor %}
				</select>
			</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
	  	</form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updatePropertyTypeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Propert Type Detail</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
		<form id="updatePropertyTypeForm" method="POST">{% csrf_token %}
			<input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
			<input type="hidden" id="propertyTypeID">
			<div class="form-group">
				<label>Name</label>
				<input type="text" class="form-control" id="propertyTypeNameUpdate">
			</div>
			<div class="form-group">
				<label>Category</label>
				<select class="form-control" id="propertyCategoryUpdate">
					{% for property_category in property_categories %}
					<option value="{{property_category.pk}}" {% if object.property_category == property_category %} selected {% endif %}>{{property_category.name}}</option>
					{% endfor %}
				</select>
			</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
	  	</form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script>
	const addPropertyTypeModal = new bootstrap.Modal(document.getElementById('addPropertyTypeModal'));
	const addPropertyTypeForm = document.getElementById('addPropertyTypeForm');
	const updatePropertyTypeModal = new bootstrap.Modal(document.getElementById('updatePropertyTypeModal'));
	const updatePropertyTypeForm = document.getElementById('updatePropertyTypeForm');
	const csrfToken = document.querySelector('input[name=csrfmiddlewaretoken]').value;
	const dataRow = document.getElementById('dataRow');

	function loadAllPropertyTypes() {
		fetch('/rentals/property-type/', {
			method: "GET"
		})
		.then(response => response.json())
		.then(property_types => {
			dataRow.innerHTML = '';
			
			property_types.forEach(property_type => {
				const row = document.createElement('tr');
				row.setAttribute('row-data-id', property_type.id);
				
				row.innerHTML = `
					<td>${property_type.id}</td>
					<td>${property_type.name}</td>
					<td>${property_type.property_category_detail.name}</td>
					<td>${format_date(property_type.date_created)}</td>
					<td><span class="badge ${property_type.active_status ? "text-bg-success" : "text-bg-danger"}">${property_type.active_status ? "Active" : "Inactive"}</span></td>
					<td class="text-center"><a href="#" class="edit-btn"><i class="bi bi-pencil-square"></i></a> | <a href="#" class="delete-btn"><i class="bi bi-trash"></i></a></td>
				`;
				dataRow.appendChild(row);
			});
		})
		.catch(error => console.log(`${error}`));
	}

	document.addEventListener('DOMContentLoaded', () => {
		try {
			loadAllPropertyTypes();
		} catch {
			console.log("error.");
		}
	});

	addPropertyTypeForm.addEventListener('submit', (event) => {
		event.preventDefault();

		const property_type_name = document.getElementById('propertyTypeName').value;
		const property_category = document.getElementById('propertyCategory').value;
 		
		fetch('/rentals/property-type/', {
			method: 'POST',
			headers: {
				'Content-Type' : 'Application/json',
				'X-CSRFToken' : csrfToken
			},
			body: JSON.stringify({
				name : property_type_name,
				property_category : property_category
			})
		})
		.then(response => response.json())
		.then(property_type => {
			addPropertyTypeForm.reset();
			addPropertyTypeModal.hide();
			
			const row = document.createElement('tr');
			row.setAttribute('data-row-id', property_type.id);

			row.innerHTML = `
				<td>${property_type.id}</td>
				<td>${property_type.name}</td>
				<td>${property_type.property_category_detail.name}</td>
				<td>${format_date(property_type.date_created)}</td>
				<td><span class="badge ${property_type.active_status ? "text-bg-success" : "text-bg-danger"}">${property_type.active_status ? "Active" : "Inactive"}</span></td>
				<td class="text-center"><a href="#" class="edit-btn"><i class="bi bi-pencil-square"></i></a> | <a href="#" class="delete-btn"><i class="bi bi-trash"></i></a></td>
			`;
			dataRow.appendChild(row);

		})
		.catch(errors => console.log(errors))
	})

	document.addEventListener('click', (event) => {
		if(event.target.closest('.edit-btn')){
			event.preventDefault();

			const row = event.target.closest('tr');
			const rowID = row.getAttribute('row-data-id');

			fetch(`/rentals/property-type-detail/${rowID}/`, {
				method: "GET",
				headers: {
					'Content-Type' : 'Application/json'
				}
			})
			.then(response => response.json())
			.then(data => {
				updatePropertyTypeModal.show();
				document.getElementById('propertyTypeID').value = data.id;
				document.getElementById('propertyTypeNameUpdate').value = data.name;
				document.getElementById('propertyCategoryUpdate').value = data.property_category;
			})
		}
	})

	updatePropertyTypeForm.addEventListener('submit', (event) => {
		const propertyTypeID = document.getElementById('propertyTypeID').value
		const propertyTypeName = document.getElementById('propertyTypeNameUpdate').value
		const propertyCategory = document.getElementById('propertyCategoryUpdate').value
		

		const row = document.querySelector(`tr[row-data-id="${propertyTypeID}"]`);

		fetch(`/rentals/property-type-detail/${propertyTypeID}/`, {
			method: 'PATCH',
			headers: {
				'Content-Type' : 'Application/json',
				'X-CSRFToken': csrfToken
			},
			body: JSON.stringify({
				name: propertyTypeName,
				property_category : propertyCategory
			})
		})
		.then(response => response.json())
		.then(property_type => {
			const row_cells = row.cells;
			row_cells[0].textContent = property_type.id;
			row_cells[1].textContent = property_type.name;
			row_cells[2].textContent = property_type.property_category_detail.name;
			row_cells[3].textContent = format_date(property_type.date_created);
			row_cells[4].textContent = property_type.active_status ? "Active" : "Inactive";

			updatePropertyTypeForm.reset();
			updatePropertyTypeModal.hide();
		})
		.catch(error => console.log(error))
	})

	document.addEventListener('click', (event) => {
		if(event.target.closest('.delete-btn')){
			event.preventDefault();

			const tableRow = event.target.closest('tr');
			const rowID = tableRow.getAttribute('row-data-id');

			fetch(`/rentals/property-type-detail/${rowID}/`, {
				method: 'DELETE',
				headers: {
					'X-CSRFToken': csrfToken
				}
			})
			.then(response => {
				if(response.ok){
					tableRow.remove();
				}else{
					console.log('Error removing item');
				}
			})
			.catch(error => console.log(error))
		}
		
	})
</script>
{% endblock %}